@define-color bar-bg rgba(0, 0, 0, 0);
@define-color main-bg #230D27;
@define-color main-fg #7CC5A7;
@define-color wb-act-bg #327D70;
@define-color wb-act-fg #1D1420;
@define-color wb-hvr-bg #301A4C;
@define-color wb-hvr-fg #2D197E;
